<button type="button" name="button" (click)='randomButton()' ></button>

<!-- <div id="allShows">
  <ul>
    <li let ngFor="#show of shows">

      {{show.title}}

    </li>
</ul> -->


      <!-- <div id="allSongs" ng-repeat="song in sgc.songs | orderBy: 'songFile'" ng-controller="getSongCtrl as gsc">

        <div ng-click="gsc.playSong(song.songTitle, song.songFile, song.deeOne, song.directory, sgc.songs, sgc.songs.indexOf(song))">{{ song.songTitle }}</div>

      </div> -->

  <!-- </div> -->
